*.iml
.gradle
/.idea/**
.DS_Store
**/build/**
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin

# Xcode
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.xcuserstate
